version: '3.2'

services:
  {{ ghost_service_name }}:
    image: {{ ghost_image_tag }}
    container_name: {{ ghost_service_name }}
    depends_on:
      - {{ db_service_name }}
    environment:
      url: https://{{ domain_name }}
      # see https://docs.ghost.org/docs/config#section-running-ghost-with-config-env-variables
      # Database
      database__client: mysql
      database__connection__host: {{ db_service_name }}
      database__connection__user: root
      database__connection__password: {{ mysql_password }}
      database__connection__database: ghost
      # Mail
      mail__transport: SMTP
      mail__from: {{ mail_sender }}
      mail__options__service: "Sendgrid"
      mail__options__host: "smtp.sendgrid.net"
      mail__options__port: 465
      mail__options__secureConnection: "true"
      mail__options__auth__user: "apikey"
      mail__options__auth__pass: "{{ sendgrid_api_key }}"
    logging:
      driver: fluentd
      options:
        fluentd-address: localhost:{{ fluentbit_port }}
        tag: my-blog
    volumes:
      - {{ content_directory }}:/var/lib/ghost/content
    networks:
      - {{ nginx_network_name }}
      - default

  {{ db_service_name }}:
    image: {{ mysql_image_tag }}
    container_name: {{ db_service_name }}
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_password }}
    volumes:
      - {{ mysql_data_directory }}:/var/lib/mysql
    networks:
      - default

  {{ wait_for_it_service_name }}:
    image: willwill/wait-for-it:latest
    container_name: {{ wait_for_it_service_name }}
    networks:
      - default


networks:
  {{ nginx_network_name }}:
    external: true
