version: '3.2'

services:
  {{ coturn_docker_service_name }}:
    image: {{ coturn_docker_image }}
    container_name: {{ coturn_docker_service_name }}
    ports:
      - "{{ coturn_tls_port }}:3478/tcp"  # turn main port
      - "{{ coturn_tls_port }}:3478/udp"  # turn main port
      - "{{ coturn_tls_port }}:5349/tcp"  # turn main port
      - "{{ coturn_tls_port }}:5349/udp"  # turn main port
      - "{{ coturn_turn_udp_min_port }}-{{ coturn_turn_udp_max_port }}:{{ coturn_turn_udp_min_port }}-{{ coturn_turn_udp_max_port }}/udp"
    volumes:
      - {{ coturn_config_path }}:/etc/coturn/turnserver.conf:ro
      - {{ letsencrypt_cert_location }}:{{ letsencrypt_cert_location }}:ro

